client
dev tun
proto udp
nobind
{% for key, value in config_items.value.items() %}
{% if value is iterable and not value is string %}
{% for item in value %}
{% if key == 'no_key_variable' %}
{{ item }}
{% else %}
{{ key }} {{ item }}
{% endif %}
{% endfor %}
{% else %}
{{ key }} {{ value }}
{% endif %}
{% endfor %}
ca /etc/openvpn/ca.crt
dh /etc/openvpn/dh.pem
cipher AES-256-CBC
tls-client
tls-auth /etc/openvpn/ta.key 1
remote-cert-tls server
keepalive 10 60
verb 3
log /var/log/openvpn_{{ config_items.key }}.log
